<div data-role="header" data-position="inline" data-nobackbtn="true">
  <%= link_to 'Back', users_path , {"class" => "ui-btn-left", "data-icon" => "back"} %>
  <h1>Ranking types</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @types.each do |type| %>
    <li><a href="#"><%= type[:name]%><span class="ui-li-count"><%= type[:count] %></span></a></li>
    <% end %>
  </ul>
</div>
