<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><a href="/looking_types/rank" data-icon="star" data-iconpos="top">Rank</a></li>
      <li><a href="/repositories/" data-icon="grid" data-iconpos="top">Repos</a></li>
      <li><a href="/types/rank" data-icon="grid" data-iconpos="top">Types</a></li>
    </ul>
  </div>
</div>
