<div data-role="header" data-position="inline" data-nobackbtn="true">
  <%= link_to 'Back', users_path , {"class" => "ui-btn-left", "data-icon" => "back"} %>
  <h1>New user</h1>
</div>

<h1>New user</h1>
<%= render 'form_smp' %>
<%= link_to 'Back', users_path %>
