<!DOCTYPE html>
<html>
<head>
  <title>LookingDeveloper</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @smartphone %>
<div data-role="page">
<% end %>
<%= yield %>
<% if @smartphone %>
</div>
<% end %>
</body>
</html>
